h1{
	color:red;
	font-family: "PrestonsWriting", medium;
	font-size: 90px; 
	text-align: center;
  }

h2{
	color:red;
	font-family: "PrestonsWriting", medium;
	font-size: 45px;
  }

h3{
	font-family: "PrestonsWriting", medium;
	font-size: 20px;
  }

header{
	background-color: #f4b342;
	padding: 100px
  }
